@import url(http://fonts.googleapis.com/css?family=Roboto:300);
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 8/9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td {
  padding: 0; }

/*!
 *  Weather Icons 1.2
 *  Weather themed icons for Bootstrap
 *  ------------------------------------------------------------------------------
* Maintained at http://erikflowers.github.io/weather-icons
 *  http://twitter.com/Erik_UX
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Fpmt licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Weather Icons Bootstrap Package Author - Erik Flowers - erik@helloerik.com
 *  ------------------------------------------------------------------------------
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 */
@font-face {
  font-family: 'weathericons';
  src: url('../../fonts/weathericons-regular-webfont.eot');
  src: url('../../fonts/weathericons-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/weathericons-regular-webfont.woff') format("woff"), url('../../fonts/weathericons-regular-webfont.ttf') format("truetype"), url('../../fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format("svg");
  font-weight: normal;
  font-style: normal; }

.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wi-day-cloudy-gusts:before {
  content: "\f000"; }

.wi-day-cloudy-windy:before {
  content: "\f001"; }

.wi-day-cloudy:before {
  content: "\f002"; }

.wi-day-fog:before {
  content: "\f003"; }

.wi-day-hail:before {
  content: "\f004"; }

.wi-day-lightning:before {
  content: "\f005"; }

.wi-day-rain-mix:before {
  content: "\f006"; }

.wi-day-rain-wind:before {
  content: "\f007"; }

.wi-day-rain:before {
  content: "\f008"; }

.wi-day-showers:before {
  content: "\f009"; }

.wi-day-snow:before {
  content: "\f00a"; }

.wi-day-sprinkle:before {
  content: "\f00b"; }

.wi-day-sunny-overcast:before {
  content: "\f00c"; }

.wi-day-sunny:before {
  content: "\f00d"; }

.wi-day-storm-showers:before {
  content: "\f00e"; }

.wi-day-thunderstorm:before {
  content: "\f010"; }

.wi-cloudy-gusts:before {
  content: "\f011"; }

.wi-cloudy-windy:before {
  content: "\f012"; }

.wi-cloudy:before {
  content: "\f013"; }

.wi-fog:before {
  content: "\f014"; }

.wi-hail:before {
  content: "\f015"; }

.wi-lightning:before {
  content: "\f016"; }

.wi-rain-mix:before {
  content: "\f017"; }

.wi-rain-wind:before {
  content: "\f018"; }

.wi-rain:before {
  content: "\f019"; }

.wi-showers:before {
  content: "\f01a"; }

.wi-snow:before {
  content: "\f01b"; }

.wi-sprinkle:before {
  content: "\f01c"; }

.wi-storm-showers:before {
  content: "\f01d"; }

.wi-thunderstorm:before {
  content: "\f01e"; }

.wi-windy:before {
  content: "\f021"; }

.wi-night-alt-cloudy-gusts:before {
  content: "\f022"; }

.wi-night-alt-cloudy-windy:before {
  content: "\f023"; }

.wi-night-alt-hail:before {
  content: "\f024"; }

.wi-night-alt-lightning:before {
  content: "\f025"; }

.wi-night-alt-rain-mix:before {
  content: "\f026"; }

.wi-night-alt-rain-wind:before {
  content: "\f027"; }

.wi-night-alt-rain:before {
  content: "\f028"; }

.wi-night-alt-showers:before {
  content: "\f029"; }

.wi-night-alt-snow:before {
  content: "\f02a"; }

.wi-night-alt-sprinkle:before {
  content: "\f02b"; }

.wi-night-alt-storm-showers:before {
  content: "\f02c"; }

.wi-night-alt-thunderstorm:before {
  content: "\f02d"; }

.wi-night-clear:before {
  content: "\f02e"; }

.wi-night-cloudy-gusts:before {
  content: "\f02f"; }

.wi-night-cloudy-windy:before {
  content: "\f030"; }

.wi-night-cloudy:before {
  content: "\f031"; }

.wi-night-hail:before {
  content: "\f032"; }

.wi-night-lightning:before {
  content: "\f033"; }

.wi-night-rain-mix:before {
  content: "\f034"; }

.wi-night-rain-wind:before {
  content: "\f035"; }

.wi-night-rain:before {
  content: "\f036"; }

.wi-night-showers:before {
  content: "\f037"; }

.wi-night-snow:before {
  content: "\f038"; }

.wi-night-sprinkle:before {
  content: "\f039"; }

.wi-night-storm-showers:before {
  content: "\f03a"; }

.wi-night-thunderstorm:before {
  content: "\f03b"; }

.wi-celsius:before {
  content: "\f03c"; }

.wi-cloud-down:before {
  content: "\f03d"; }

.wi-cloud-refresh:before {
  content: "\f03e"; }

.wi-cloud-up:before {
  content: "\f040"; }

.wi-cloud:before {
  content: "\f041"; }

.wi-degrees:before {
  content: "\f042"; }

.wi-down-left:before {
  content: "\f043"; }

.wi-down:before {
  content: "\f044"; }

.wi-fahrenheit:before {
  content: "\f045"; }

.wi-horizon-alt:before {
  content: "\f046"; }

.wi-horizon:before {
  content: "\f047"; }

.wi-left:before {
  content: "\f048"; }

.wi-lightning:before {
  content: "\f016"; }

.wi-night-fog:before {
  content: "\f04a"; }

.wi-refresh-alt:before {
  content: "\f04b"; }

.wi-refresh:before {
  content: "\f04c"; }

.wi-right:before {
  content: "\f04d"; }

.wi-sprinkles:before {
  content: "\f04e"; }

.wi-strong-wind:before {
  content: "\f050"; }

.wi-sunrise:before {
  content: "\f051"; }

.wi-sunset:before {
  content: "\f052"; }

.wi-thermometer-exterior:before {
  content: "\f053"; }

.wi-thermometer-internal:before {
  content: "\f054"; }

.wi-thermometer:before {
  content: "\f055"; }

.wi-tornado:before {
  content: "\f056"; }

.wi-up-right:before {
  content: "\f057"; }

.wi-up:before {
  content: "\f058"; }

.wi-wind-west:before {
  content: "\f059"; }

.wi-wind-south-west:before {
  content: "\f05a"; }

.wi-wind-south-east:before {
  content: "\f05b"; }

.wi-wind-south:before {
  content: "\f05c"; }

.wi-wind-north-west:before {
  content: "\f05d"; }

.wi-wind-north-east:before {
  content: "\f05e"; }

.wi-wind-north:before {
  content: "\f060"; }

.wi-wind-east:before {
  content: "\f061"; }

.wi-smoke:before {
  content: "\f062"; }

.wi-dust:before {
  content: "\f063"; }

.wi-snow-wind:before {
  content: "\f064"; }

.wi-day-snow-wind:before {
  content: "\f065"; }

.wi-night-snow-wind:before {
  content: "\f066"; }

.wi-night-alt-snow-wind:before {
  content: "\f067"; }

.wi-day-sleet-storm:before {
  content: "\f068"; }

.wi-night-sleet-storm:before {
  content: "\f069"; }

.wi-night-alt-sleet-storm:before {
  content: "\f06a"; }

.wi-day-snow-thunderstorm:before {
  content: "\f06b"; }

.wi-night-snow-thunderstorm:before {
  content: "\f06c"; }

.wi-night-alt-snow-thunderstorm:before {
  content: "\f06d"; }

.wi-solar-eclipse:before {
  content: "\f06e"; }

.wi-lunar-eclipse:before {
  content: "\f070"; }

.wi-meteor:before {
  content: "\f071"; }

.wi-hot:before {
  content: "\f072"; }

.wi-hurricane:before {
  content: "\f073"; }

.wi-smog:before {
  content: "\f074"; }

.wi-alien:before {
  content: "\f075"; }

.wi-snowflake-cold:before {
  content: "\f076"; }

.wi-stars:before {
  content: "\f077"; }

.wi-moon-full:before {
  content: "\f078"; }

.wi-moon-waxing-gibbous:before {
  content: "\f079"; }

.wi-moon-waxing-quarter:before {
  content: "\f07a"; }

.wi-moon-waxing-crescent:before {
  content: "\f07b"; }

.wi-moon-young:before {
  content: "\f07c"; }

.wi-moon-new:before {
  content: "\f07d"; }

.wi-moon-old:before {
  content: "\f07e"; }

.wi-moon-waning-crescent:before {
  content: "\f080"; }

.wi-moon-waning-quarter:before {
  content: "\f081"; }

.wi-moon-waning-gibbous:before {
  content: "\f082"; }

.wi-night-partly-cloudy:before {
  content: "\f083"; }

body {
  background-color: #eee;
  font-family: Roboto, sans-serif;
  font-weight: 100; }

#wrapper {
  margin: 7px 15px; }

.sort {
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  padding-top: 15px; }
  .sort a {
    cursor: pointer; }
  .sort .indicator {
    font-size: 1.2em;
    color: orange; }

.city {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 15px 0;
  padding: 0 15px;
  -webkit-transition: max-height 0.8s;
  -moz-transition: max-height 0.8s;
  transition: max-height 0.8s;
  max-height: 70px; }
  .city.active {
    max-height: 600px; }
  .city .progress {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #000;
    opacity: 0;
    color: #ccc;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s; }
    .city .progress.active {
      opacity: 0.8; }
    .city .progress span {
      display: block;
      text-align: center;
      padding-top: 50px; }
  .city .head {
    padding: 10px 0;
    max-height: 70px; }
    .city .head:after {
      content: " ";
      display: block;
      clear: both; }
    .city .head a {
      text-decoration: none;
      display: block; }
      .city .head a:after {
        content: " ";
        display: block;
        clear: both; }
      .city .head a .city-name {
        color: #707070;
        float: left;
        font-size: 1.8em;
        line-height: 50px; }
      .city .head a .icon {
        float: right; }
        .city .head a .icon .generic {
          opacity: 0.3; }
        .city .head a .icon .temperature {
          float: left;
          padding-right: 10px;
          line-height: 50px;
          font-size: 1.8em;
          color: #707070; }
  .city .body {
    position: relative;
    padding-bottom: 15px; }
    .city .body:after {
      content: " ";
      display: block;
      clear: both; }
    .city .body .column {
      margin: 10px 0;
      padding: 10px 0;
      border-top: 1px solid #e8e8e8; }
      .city .body .column .title {
        text-transform: uppercase;
        color: #707070;
        font-size: 0.8em;
        display: block;
        padding-bottom: 5px; }
      .city .body .column .value {
        font-size: 1.3em;
        color: #666; }

@media (min-width: 768px) {
  #wrapper {
    margin: 0 auto;
    max-width: 80%; }
  .city .body .column {
    text-align: center;
    float: left;
    width: 20%;
    margin: initial;
    padding: initial;
    border-top: none; } }

@media (min-width: 992px) {
  #wrapper {
    max-width: 60%; } }
