@import "../bower_components/modularized-normalize-scss/_normalize";
@import "partials/_weather-icons";

@import url(http://fonts.googleapis.com/css?family=Roboto:300);

@mixin clearfix() {
    content: " ";
    display: block;
    clear: both;
}

body {
    background-color: #eee;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

#wrapper {
    margin: 7px 15px;
}

.sort {
    text-align: right;
    font-size: 0.8em;
    text-transform: uppercase;
    padding-top: 15px;

    a {
        cursor: pointer;
    }

    .indicator {
        font-size: 1.2em;
        color: orange;
    }
}

.city {
    position: relative;
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
    margin: 15px 0;
    padding: 0 15px;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    max-height: 70px;

    &.active {
        max-height: 600px;
    }

    .progress {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: #000;
        opacity: 0;
        color: #ccc;
        -webkit-transition: opacity 0.4s;
        -moz-transition: opacity 0.4s;
        transition: opacity 0.4s;

        &.active {
            opacity: 0.8;
        }

        span {
            display: block;
            text-align: center;
            padding-top: 50px;
        }
    }

    .head {
        padding: 10px 0;
        max-height: 70px;

        &:after {
            @include clearfix();
        }

        a {
            text-decoration: none;
            display: block;

            &:after {
                @include clearfix();
            }

            .city-name {
                color: #707070;
                float: left;
                font-size: 1.8em;
                line-height: 50px;
            }

            .icon {
                float: right;

                .generic {
                    opacity: 0.3;
                }

                .temperature {
                    float: left;
                    padding-right: 10px;
                    line-height: 50px;
                    font-size: 1.8em;
                    color: #707070;
                }
            }
        }
    }

    .body {
        position: relative;
        padding-bottom: 15px;

        &:after {
            @include clearfix();
        }

        .column {
            margin: 10px 0;
            padding: 10px 0;
            border-top: 1px solid #e8e8e8;

            .title {
                text-transform: uppercase;
                color: #707070;
                font-size: 0.8em;
                display: block;
                padding-bottom: 5px;
            }

            .value {
                font-size: 1.3em;
                color: #666;
            }
        }
    }
}

@media (min-width: 768px) {

    #wrapper {
        margin: 0 auto;
        max-width: 80%;
    }

    .city {
        .body {
            .column {
                text-align: center;
                float: left;
                width: 20%;
                margin: initial;
                padding: initial;
                border-top: none;
            }
        }
    }

}

@media (min-width: 992px) {

    #wrapper {
        max-width: 60%;
    }

}