<!DOCTYPE html>
<html data-ng-app="weatherStationApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Weather station app</title>
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="wrapper" data-ng-controller="weatherController as ctrl">
        <div class="sort">
            <a data-ng-click="ctrl.sortByTemperature()">
                <span>Sort by temperature</span>
                <span class="indicator ascending" data-ng-if="ctrl.state.sortProperty === '+weather.temperature'">&#8679;</span>
                <span class="indicator descending" data-ng-if="ctrl.state.sortProperty === '-weather.temperature'">&#8681;</span>
            </a>
        </div>

        <div class="city" data-ng-repeat="city in ctrl.cities.list | orderBy:ctrl.state.sortProperty" data-ng-class="{ active: ctrl.state.active === city }">
            <div class="progress" data-ng-show="ctrl.state.progress"><span>Loading....</span></div>
            <div class="head">
                <a data-ng-click="ctrl.loadWeather(city)">
                    <span class="city-name" data-ng-bind="city.name"></span>
                    <span class="icon">
                        <span class="temperature" data-ng-bind="city.weather.temperature" data-ng-if="city.weather.temperature"></span>
                        <img class="weather" data-ng-if="city.weather.icon" data-ng-src="{{city.weather.icon}}" alt="" title="{{city.weather.title}}">
                        <img class="generic" data-ng-if="!city.weather.icon" src="http://openweathermap.org/img/w/03d.png" alt="">
                    </span>
                </a>
            </div>
            <div class="body" data-ng-if="ctrl.state.active === city">
                <div class="column">
                    <span class="title">Weather</span>
                    <div>
                        <span class="value" data-ng-bind="city.weather.data.weather[0].main"></span>
                    </div>
                </div>
                <div class="column">
                    <span class="title">Location</span>
                    <div>
                        <span class="value">Long</span>
                        <span class="value" data-ng-bind="city.weather.data.coord.lon"></span>
                    </div>
                    <div>
                        <span class="value">Lat</span>
                        <span class="value" data-ng-bind="city.weather.data.coord.lat"></span>
                    </div>
                </div>
                <div class="column">
                    <span class="title">Temperature</span>
                    <div>
                        <span class="value">Max</span>
                        <span class="value" data-ng-bind="city.weather.data.main.temp_max"></span>
                    </div>
                    <div>
                        <span class="value">Min</span>
                        <span class="value" data-ng-bind="city.weather.data.main.temp_min"></span>
                    </div>
                </div>
                <div class="column">
                    <span class="title">Pressure</span>
                    <div>
                        <span class="value" data-ng-bind="city.weather.data.main.pressure"></span>
                    </div>
                </div>
                <div class="column">
                    <span class="title">Humidity</span>
                    <div>
                        <span class="value" data-ng-bind="city.weather.data.main.humidity"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>

    <script src="app/_bootstrap/_module.js"></script>
    <script src="app/application/array-search.js"></script>
    <script src="app/application/runtime.js"></script>
    <script src="app/application/service-uris.js"></script>
    <script src="app/application/api-id.js"></script>
    <script src="app/weather/weather-controller.js"></script>
    <script src="app/weather/weather-service.js"></script>
    <script src="app/test-data/weather.js"></script>
</body>
</html>