/*!
 *  Weather Icons 1.2
 *  Weather themed icons for Bootstrap
 *  ------------------------------------------------------------------------------
* Maintained at http://erikflowers.github.io/weather-icons
 *  http://twitter.com/Erik_UX
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - Fpmt licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - CSS and LESS are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Inspired by and works great as a companion with Font Awesome
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Weather Icons Bootstrap Package Author - Erik Flowers - erik@helloerik.com
 *  ------------------------------------------------------------------------------
 *  Email: erik@helloerik.com
 *  Twitter: http://twitter.com/Erik_UX
 */
@font-face {
    font-family: 'weathericons';
    src: url('../../fonts/weathericons-regular-webfont.eot');
    src: url('../../fonts/weathericons-regular-webfont.eot?#iefix') format("embedded-opentype"), url('../../fonts/weathericons-regular-webfont.woff') format("woff"), url('../../fonts/weathericons-regular-webfont.ttf') format("truetype"), url('../../fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg') format("svg");
    font-weight: normal;
    font-style: normal;
}


.wi {
    display: inline-block;
    font-family: 'weathericons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wi-day-cloudy-gusts:before {
    content: "\f000";
}

.wi-day-cloudy-windy:before {
    content: "\f001";
}

.wi-day-cloudy:before {
    content: "\f002";
}

.wi-day-fog:before {
    content: "\f003";
}

.wi-day-hail:before {
    content: "\f004";
}

.wi-day-lightning:before {
    content: "\f005";
}

.wi-day-rain-mix:before {
    content: "\f006";
}

.wi-day-rain-wind:before {
    content: "\f007";
}

.wi-day-rain:before {
    content: "\f008";
}

.wi-day-showers:before {
    content: "\f009";
}

.wi-day-snow:before {
    content: "\f00a";
}

.wi-day-sprinkle:before {
    content: "\f00b";
}

.wi-day-sunny-overcast:before {
    content: "\f00c";
}

.wi-day-sunny:before {
    content: "\f00d";
}

.wi-day-storm-showers:before {
    content: "\f00e";
}

.wi-day-thunderstorm:before {
    content: "\f010";
}

.wi-cloudy-gusts:before {
    content: "\f011";
}

.wi-cloudy-windy:before {
    content: "\f012";
}

.wi-cloudy:before {
    content: "\f013";
}

.wi-fog:before {
    content: "\f014";
}

.wi-hail:before {
    content: "\f015";
}

.wi-lightning:before {
    content: "\f016";
}

.wi-rain-mix:before {
    content: "\f017";
}

.wi-rain-wind:before {
    content: "\f018";
}

.wi-rain:before {
    content: "\f019";
}

.wi-showers:before {
    content: "\f01a";
}

.wi-snow:before {
    content: "\f01b";
}

.wi-sprinkle:before {
    content: "\f01c";
}

.wi-storm-showers:before {
    content: "\f01d";
}

.wi-thunderstorm:before {
    content: "\f01e";
}

.wi-windy:before {
    content: "\f021";
}

.wi-night-alt-cloudy-gusts:before {
    content: "\f022";
}

.wi-night-alt-cloudy-windy:before {
    content: "\f023";
}

.wi-night-alt-hail:before {
    content: "\f024";
}

.wi-night-alt-lightning:before {
    content: "\f025";
}

.wi-night-alt-rain-mix:before {
    content: "\f026";
}

.wi-night-alt-rain-wind:before {
    content: "\f027";
}

.wi-night-alt-rain:before {
    content: "\f028";
}

.wi-night-alt-showers:before {
    content: "\f029";
}

.wi-night-alt-snow:before {
    content: "\f02a";
}

.wi-night-alt-sprinkle:before {
    content: "\f02b";
}

.wi-night-alt-storm-showers:before {
    content: "\f02c";
}

.wi-night-alt-thunderstorm:before {
    content: "\f02d";
}

.wi-night-clear:before {
    content: "\f02e";
}

.wi-night-cloudy-gusts:before {
    content: "\f02f";
}

.wi-night-cloudy-windy:before {
    content: "\f030";
}

.wi-night-cloudy:before {
    content: "\f031";
}

.wi-night-hail:before {
    content: "\f032";
}

.wi-night-lightning:before {
    content: "\f033";
}

.wi-night-rain-mix:before {
    content: "\f034";
}

.wi-night-rain-wind:before {
    content: "\f035";
}

.wi-night-rain:before {
    content: "\f036";
}

.wi-night-showers:before {
    content: "\f037";
}

.wi-night-snow:before {
    content: "\f038";
}

.wi-night-sprinkle:before {
    content: "\f039";
}

.wi-night-storm-showers:before {
    content: "\f03a";
}

.wi-night-thunderstorm:before {
    content: "\f03b";
}

.wi-celsius:before {
    content: "\f03c";
}

.wi-cloud-down:before {
    content: "\f03d";
}

.wi-cloud-refresh:before {
    content: "\f03e";
}

.wi-cloud-up:before {
    content: "\f040";
}

.wi-cloud:before {
    content: "\f041";
}

.wi-degrees:before {
    content: "\f042";
}

.wi-down-left:before {
    content: "\f043";
}

.wi-down:before {
    content: "\f044";
}

.wi-fahrenheit:before {
    content: "\f045";
}

.wi-horizon-alt:before {
    content: "\f046";
}

.wi-horizon:before {
    content: "\f047";
}

.wi-left:before {
    content: "\f048";
}

.wi-lightning:before {
    content: "\f016";
}

.wi-night-fog:before {
    content: "\f04a";
}

.wi-refresh-alt:before {
    content: "\f04b";
}

.wi-refresh:before {
    content: "\f04c";
}

.wi-right:before {
    content: "\f04d";
}

.wi-sprinkles:before {
    content: "\f04e";
}

.wi-strong-wind:before {
    content: "\f050";
}

.wi-sunrise:before {
    content: "\f051";
}

.wi-sunset:before {
    content: "\f052";
}

.wi-thermometer-exterior:before {
    content: "\f053";
}

.wi-thermometer-internal:before {
    content: "\f054";
}

.wi-thermometer:before {
    content: "\f055";
}

.wi-tornado:before {
    content: "\f056";
}

.wi-up-right:before {
    content: "\f057";
}

.wi-up:before {
    content: "\f058";
}

.wi-wind-west:before {
    content: "\f059";
}

.wi-wind-south-west:before {
    content: "\f05a";
}

.wi-wind-south-east:before {
    content: "\f05b";
}

.wi-wind-south:before {
    content: "\f05c";
}

.wi-wind-north-west:before {
    content: "\f05d";
}

.wi-wind-north-east:before {
    content: "\f05e";
}

.wi-wind-north:before {
    content: "\f060";
}

.wi-wind-east:before {
    content: "\f061";
}

.wi-smoke:before {
    content: "\f062";
}

.wi-dust:before {
    content: "\f063";
}

.wi-snow-wind:before {
    content: "\f064";
}

.wi-day-snow-wind:before {
    content: "\f065";
}

.wi-night-snow-wind:before {
    content: "\f066";
}

.wi-night-alt-snow-wind:before {
    content: "\f067";
}

.wi-day-sleet-storm:before {
    content: "\f068";
}

.wi-night-sleet-storm:before {
    content: "\f069";
}

.wi-night-alt-sleet-storm:before {
    content: "\f06a";
}

.wi-day-snow-thunderstorm:before {
    content: "\f06b";
}

.wi-night-snow-thunderstorm:before {
    content: "\f06c";
}

.wi-night-alt-snow-thunderstorm:before {
    content: "\f06d";
}

.wi-solar-eclipse:before {
    content: "\f06e";
}

.wi-lunar-eclipse:before {
    content: "\f070";
}

.wi-meteor:before {
    content: "\f071";
}

.wi-hot:before {
    content: "\f072";
}

.wi-hurricane:before {
    content: "\f073";
}

.wi-smog:before {
    content: "\f074";
}

.wi-alien:before {
    content: "\f075";
}

.wi-snowflake-cold:before {
    content: "\f076";
}

.wi-stars:before {
    content: "\f077";
}

.wi-moon-full:before {
    content: "\f078";
}

.wi-moon-waxing-gibbous:before {
    content: "\f079";
}

.wi-moon-waxing-quarter:before {
    content: "\f07a";
}

.wi-moon-waxing-crescent:before {
    content: "\f07b";
}

.wi-moon-young:before {
    content: "\f07c";
}

.wi-moon-new:before {
    content: "\f07d";
}

.wi-moon-old:before {
    content: "\f07e";
}

.wi-moon-waning-crescent:before {
    content: "\f080";
}

.wi-moon-waning-quarter:before {
    content: "\f081";
}

.wi-moon-waning-gibbous:before {
    content: "\f082";
}

.wi-night-partly-cloudy:before {
    content: "\f083";
}